In [1]:
dates <- seq(as.Date("2016/01/01"), by = "month", length.out = 40)
row_label <- c("A: format 1", "B: format 2", "C: format 3", "D: format 4")

In [2]:
dates

 [1] "2016-01-01" "2016-02-01" "2016-03-01" "2016-04-01" "2016-05-01"
 [6] "2016-06-01" "2016-07-01" "2016-08-01" "2016-09-01" "2016-10-01"
[11] "2016-11-01" "2016-12-01" "2017-01-01" "2017-02-01" "2017-03-01"
[16] "2017-04-01" "2017-05-01" "2017-06-01" "2017-07-01" "2017-08-01"
[21] "2017-09-01" "2017-10-01" "2017-11-01" "2017-12-01" "2018-01-01"
[26] "2018-02-01" "2018-03-01" "2018-04-01" "2018-05-01" "2018-06-01"
[31] "2018-07-01" "2018-08-01" "2018-09-01" "2018-10-01" "2018-11-01"
[36] "2018-12-01" "2019-01-01" "2019-02-01" "2019-03-01" "2019-04-01"

In [3]:
row_label

[1] "A: format 1" "B: format 2" "C: format 3" "D: format 4"

In [4]:
library(data.table)
init_table <- CJ(dates, row_label)

In [5]:
head(init_table)

  dates      row_label
1 2016-01-01 A: format 1
2 2016-01-01 B: format 2
3 2016-01-01 C: format 3
4 2016-01-01 D: format 4
5 2016-02-01 A: format 1
6 2016-02-01 B: format 2

In [6]:
version

               _
platform       x86_64-conda_cos6-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          3
minor          6.1
year           2019
month          07
day            05
svn rev        76782
language       R
version.string R version 3.6.1 (2019-07-05)
nickname       Action of the Toes

In [7]:
length(init_table)

[1] 2

In [8]:
dim(init_table)

[1] 160   2

In [9]:
nrow(init_table)

[1] 160

In [10]:
count_curr <- sample(33000:55000, size = nrow(init_table), replace = TRUE)

In [11]:
length(count_curr)

[1] 160

In [12]:
str(init_table)

Classes ‘data.table’ and 'data.frame':	160 obs. of  2 variables:
 $ dates    : Date, format: "2016-01-01" "2016-01-01" ...
 $ row_label: chr  "A: format 1" "B: format 2" "C: format 3" "D: format 4" ...
 - attr(*, ".internal.selfref")=<externalptr>
 - attr(*, "sorted")= chr  "dates" "row_label"

In [13]:
sample_data <- data.frame(date = init_table$dates, row_label = init_table$row_label, count = count_curr)

In [14]:
str(sample_data)

'data.frame':	160 obs. of  3 variables:
 $ date     : Date, format: "2016-01-01" "2016-01-01" ...
 $ row_label: Factor w/ 4 levels "A: format 1",..: 1 2 3 4 1 2 3 4 1 2 ...
 $ count    : int  36123 37129 40047 51673 42566 37832 54721 50022 43116 46211 ...

In [15]:
head(sample_data)

  date       row_label   count
1 2016-01-01 A: format 1 36123
2 2016-01-01 B: format 2 37129
3 2016-01-01 C: format 3 40047
4 2016-01-01 D: format 4 51673
5 2016-02-01 A: format 1 42566
6 2016-02-01 B: format 2 37832

In [18]:
write.csv(x = sample_data,
          file = "sample_data.csv",
          row.names = FALSE,
          col.names = TRUE,
          quote = FALSE)

Warning message in write.csv(x = sample_data, file = "sample_data.csv", row.names = FALSE, :
“attempt to set 'col.names' ignored”